<!DOCTYPE html>
<html>
<head>
    <title>Generátor Animace</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <div class="page-body">
        <h1>Generátor Spectoda animací</h1>
        <form method="post" enctype="multipart/form-data">
            <label for="audiofile">Nahrát audio soubor:</label>
            <input type="file" id="audiofile" name="audiofile" accept="audio/*">
            <label for="slider">Vyberte hodnotu:</label><br>
            <div class="slider_window">
                <input class="slider" type="range" id="slider" name="slider" min="0" max="3" step="1" value="0">
                <div class="slider-labels">
                    <span>Chill</span>
                    <span>Hang out</span>
                    <span>Happy</span>
                    <span>Dancing</span>
                </div>
            </div>
            <input type="hidden" name="submit_button" value="true">
            <button type="submit" name="submit_button">Generovat Animaci</button>
            <div id="loadingSpinner" style="display: none;">
              <div class="spinner"></div>
          </div>
        </form>
        <textarea id="code" name="code" rows="10" cols="50">{{ code }}</textarea>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.querySelector('form');
            const submitButton = document.querySelector('button[name="submit_button"]');
            const spinner = document.getElementById('loadingSpinner');

            form.addEventListener('submit', function() {
                // Zobrazí spinner
                spinner.style.display = 'inline-block';

                // Zakáže tlačítko pro další klikání
                submitButton.disabled = true;
                submitButton.style.opacity = 0.5; // Nastaví průhlednost tlačítka, aby uživatel viděl, že je neaktivní
            });
        });


    //     document.addEventListener('DOMContentLoaded', function() {
    //         const form = document.querySelector('form')
    //         const submitButton = document.querySelector('button[name="submit_button"]');
    //         const spinner = document.getElementById('loadingSpinner');
      
    //         form.addEventListener('submit', function(event) {
    //             spinner.style.display = 'inline-block'; // Zobrazí spinner při kliknutí
              
    //             // Zakáže tlačítko pro další klikání
    //             submitButton.disabled = true;
    //             submitButton.style.opacity = 0.5; // Nastaví průhlednost tlačítka, aby uživatel viděl, že je neaktivní
    //       });
    //   });
      </script>
</body>
</html>